.navbar.custom-navbar {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar .nav-link {
    position: relative;
}

.navbar .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar .nav-link:hover::after {
    width: 100%;
    left: 0;
}
